@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}
html{
    box-sizing: border-box;
}
:root {
    --color: var(--white);
    --cit-green: #7bab4d;
    --light-gray: #f6f6f6;
    --dark-gray: #242424;
    --med-gray: #333;
    --white: white;
    --color-2: black;
    --black: black
}

/* Index Page Style Start */


/* Responsive Section Start */
/* Make the responsive bar fixed at the top */
.responsive-bar {
    height: 100vh;
    width: 50% !important;
    min-width: 300px !important;
    background-color: var(--dark-gray);
    padding: 20px 10px 0px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    transform: translateX(100%);
    transition: 300ms ease-in-out;
    overflow-y: scroll;
}

.responsive-bar.showModal {
    transform: translateX(0);
}

/* Styling for the responsive navigation content */
.responsive-navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 55px auto 0px;
}
.responsive-navbar ul li{
    width: 95%;
    margin: 5px auto;
    /* border: 1px solid #fff; */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.responsive-navbar ul li i{
    color: #ffff;
    transition: 350ms ease-in-out;
}
.rotate{
    transform: rotate(-180deg);
    transition: 350ms ease-in-out;
}
.Aboutrotate{
    transform: rotate(-180deg);
    transition: 350ms ease-in-out;
}
.b2bRotate{
    transform: rotate(-180deg);
    transition: 350ms ease-in-out;
}
.stockRotate{
    transform: rotate(-180deg);
    transition: 350ms ease-in-out;
}
.responsive-navbar ul .wholesaleLi{
    display: flex;
    flex-direction: row;
    flex-direction: column;
}
.responsive-navbar ul li ul{
    width: 105% !important;
    padding: 0 !important;
}
.responsive-navbar ul li ul .b2bli ul li{
    color: #000 !important;
    width: 100%;
    border: 1px solid #fff;
}
.responsive-bar ul .wholesaleLi ul{
    display: none;
}
.responsive-bar ul .wholesaleLi ul.wholesaleLiShow{
    display: block;
}
.responsive-bar ul .aboutLi ul{
    display: none;
}
.responsive-bar ul .aboutLi ul.aboutDropDownShow{
    display: block;
}
.responsive-bar ul .wholesaleLi ul.wholesaleLiShow li{
    border: none;
}
.responsive-bar ul li ul li.b2bli ul{
    display: none;
}
.responsive-bar ul li ul li.b2bli ul.b2bDropDownShow{
    display: block;
}
.wholeSaleDiv, .HomeDiv, .abooutDiv, .wholeSaleDiv, .blogDiv, .b2bDiv, .mobileDev{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    width: 265px;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
}
.navicon.active{
    background-color: var(--cit-green);
}
.responsive-navbar ul li a {
    padding: 10px;
    display: block;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
}
.responsive-navbar .b2b-btn{
    width: 78%;
}
.responsive-navbar .b2b-btn img{
    height: 30px;
    width: 30px;
    object-fit: contain;
}
.responsive-navbar ul li{
    background: none;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}
.responsive-navbar ul li:hover>a{
    color: #ffffff;
}
.responsive-navbar ul .wholesaleList i{
    color: #fff;
}
.responsive-navbar ul li ul{
    bottom: 0;
    width: 90%;
}

.responsive-navbar ul .wholesaleList ul li{
    background-color: gray;
    margin: 0;
    padding: 0;
}

/* Social links section styling */
.responsive-social-links {
    margin-top: 10px;
}

.responsive-social-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.responsive-social-links ul li h5 {
    font-size: 17px;
    color: #ffffff;
    text-align: center;
    margin: 10px 0;
    width: 100%;
    margin-bottom: 0;
    padding: 5px;
}

.responsive-social-links ul li a {
    display: block;
    width: 100%;
    text-align: center;
    color: var(--cit-green);
    text-decoration: none;
    margin: 5px 0px;
}

.responsive-social-links ul li a:hover {
    color: #ffffff;
}
.stockli ul{
    display: none;
}
.stockli ul.stockDropDownShow{
    display: block;
}
.stockli ul li:last-child .mobileDev{
    padding: 10px !important;
    display: flex;
    justify-content: space-between;
    align-items: center !important;
}
.stockli ul li:last-child .mobileDev input{
    width: 63%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
}
.stockli ul li:last-child .mobileDev button{
    padding: 7px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--cit-green);
    color: #fff;
}
/* Responsive Section End */

/* Menu Icon */
#menu-icon {
    position: absolute;
    top: 15px;
    right: 10px;
    display: none;
}

#menu-icon img {
    height: 35px;
    width: 35px;
    object-fit: contain;
}

/* Menu Icon */

/* Close icon Start */
#close-icon {
    position: absolute;
    top: 25px;
    right: 10px;
    display: none;
}

#close-icon img {
    height: 35px;
    width: 35px;
    object-fit: contain;
}

/* Close icon End */

/* Header Section Start */
section.header {
    background-color: var(--dark-gray);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999 !important;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

section.header .main-header-class {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.header .logo-wrapper {
    height: 56px;
    padding: 5px;
    margin-left: 10px;
}

.logo-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.navigation_bar {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
}

.navigation_bar ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0;
    padding: 0;
    gap: 40px;
}

.navigation_bar ul li:hover>a {
    color: #64B052;
}

.navigation_bar ul li a {
    font-size: 14px !important;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--white);
    position: relative;
    display: block;
    padding: 22px 10px;
}

.navigation_bar ul li ul {
    width: 15%;
    display: block;
    background-color: var(--med-gray);
    position: absolute;
    padding: 30px 0px 10px;
    top: 65px;
    display: none;
    z-index: 998;
}
.navigation_bar ul li ul .b2blist{
    position: relative;
}
.navigation_bar ul li ul .b2blist ul{
    background-color: var(--med-gray);
    position: absolute;
    right: -110%;
    top: 0;
    width: 110%;
}
.navigation_bar ul li ul:first-child li a {
    padding: 0;
}

.navigation_bar ul li ul li {
    padding: 10px 10px;
}

.navigation_bar ul li ul li a {
    display: block;
    height: 100%;
    padding: 5px;
    font-size: 14px;
}

.navigation_bar ul:last-child li a img {
    height: 20px;
    width: 20px;
    object-fit: contain;
}

.navigation_bar ul:last-child li a {
    display: flex;
    align-items: center;
    gap: 7px;
}

.navigation_bar ul li:hover>ul {
    display: block;
}

.navigation_bar ul li ul li:hover {
    background-color: #64B052;
}

.navigation_bar ul li ul li:hover>a {
    color: #ffffff;
}
.stockListDD li:first-child{
    border-bottom: 1px solid #fff;
}
.stockInputLi{
    position: relative;
}
.stockListul{
    width: 410px !important;
    position: absolute;
    right: 20%;
}
.stockListul li:first-child{
    border-bottom: 1px solid #fff;
}
.stockListul .stockInput{
    padding: 10px;
    display: flex !important;
    gap: 10px !important;
}
.stockInput input{
    height: 40px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
}
.stockInput button{
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #F6F6F6;
    outline: none;
    background: none;
    color: #fff;
    transition: 350ms ease-in-out;
}
.stockInput button:hover{
    background: var(--cit-green);
}
/* .b2b-btn {
    padding: 3px 15px;
    border-radius: 5px;
    background-color: var(--cit-green);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px auto;
} */

/* Header Section End */
body{
    position: relative !important;
}
#topBtn{
    position: fixed;
    z-index: 9999;
    bottom: 50px;
    right: 50px;
}
#topBtn img{
    width: 40px;
    height: 40px;
    object-fit: contain;
    animation: zoom linear 3s infinite;
}

@keyframes zoom{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    75%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.chatIcon {
    height: 70px;
    width: 70px;
    position: absolute;
    background-color: var(--cit-green);
    z-index: 9999;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    right: 10px;
}

.chatIcon img {
    height: 40px;
    width: 40px;
    object-fit: contain;
}

/* First Banner Start */

.banner-section {
    width: 100%;
    position: relative;
    padding-bottom: 20px;
}

.back-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.back-video video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.black-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.banner-section .container {
    position: relative;
    z-index: 3;
    width: 90%;
}

.banner-content-heading {
    text-align: center;
    margin-top: 70px;
}

.banner-content-heading h1 {
    color: #64B052;
    font-weight: 800;
    font-size: 35px;
}

.banner-box {
    width: 100%;
    background-color: var(--cit-green);
    z-index: 4;
    position: relative;
    margin: 20px 0px;
    border-radius: 5px;
    color: #ffffff;
    transition: 300ms ease-in-out;
    cursor: pointer;
    padding: 20px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-box:hover {
    background-color: rgba(26, 26, 26, .8);
}

.banner-box .normal-heading h3 {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}

.banner-box .banner-content-para {
    margin-top: 20px;
}

.banner-box .banner-content-para p {
    font-size: 16px;
}

/* First Banner End */


/* Second Banner Start */

section.second-banner {
    height: 400px;
    width: 100%;
    background-image: url('assets/images/second-banner-img.png');
    background-position: 90%;
    background-size: cover;
    background-attachment: scroll;
    display: block;
    padding: 50px 0px;
}

section.second-banner .banner-content-box {
    height: 400px;
    width: 70%;
    padding: 30px 10px;
}

.second-banner-large-heading {
    padding: 5px;
    margin: 5px 0px;
}

.second-banner-large-heading h2 {
    color: var(--cit-green);
    font-size: 30px;
    margin-bottom: 0;
    font-weight: 700;
}

.second-banner-normal-heading {
    margin: 5px 0;
}

.second-banner-normal-heading h3 {
    font-size: 24px;
    color: var(--dark-gray);
    font-weight: 800;
    margin-bottom: 0;
}

.second-banner-para {
    margin-top: 20px;
    padding: 5px 0;
}

.second-banner-para p {
    color: var(--dark-gray);
    font-size: 16px;
    margin-bottom: 20px;
}

.second-banner-para p a {
    color: var(--cit-green);
    font-size: 17px;
}

.banner-content-box button {
    width: 25%;
    padding: 10px 0px;
    border: none;
    outline: none;
    text-align: center;
    background-color: var(--cit-green);
    color: #ffffff;
    border-radius: 8px;
    font-size: 16px;
    transition: 300ms ease-in-out;
}

.banner-content-box button:hover {
    background-color: var(--cit-green);
    color: #fff;
}

/* Second Banner End */


/* Third Banner Section Start */
section.second-banner.third {
    width: 100%;
    background-image: url('assets/images/third-banner-img.png');
    position: relative;
    padding: 50px 0px !important;
}

section.second-banner.third .black-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 100%;
    z-index: 5;
    border-top: 2px solid var(--cit-green);
}

section.second-banner.third .banner-content-box {
    width: 70%;
    z-index: 20;
}

section.second-banner.third .banner-second {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section.second-banner.third .second-banner-large-heading h2 {
    color: var(--cit-green);
    text-align: right;
}

section.second-banner.third .second-banner-normal-heading {
    text-align: right;
}

section.second-banner.third .second-banner-normal-heading h3 {
    color: #ffffff;
}

section.second-banner.third .second-banner-para {
    text-align: right;
}

section.second-banner.third .second-banner-para p {
    color: #ffffff;
    font-size: 17px;
}

section.second-banner.third button {
    text-align: center;
    right: 0;
    width: 25%;
    background-color: var(--cit-green);
    color: #ffffff;
    float: right;
}

/* Third Banner Section End */


/* Fourth Banner Section Start */
section.second-banner.fourth {
    width: 100%;
    background-image: url('assets/images/fourth-banner-img.jpg');
    position: relative;
    padding: 50px 0 !important;
}

section.second-banner.fourth .container {
    z-index: 60;
    width: 100%;
    position: relative;
    height: 400px;
    padding: 1px;
}

.second-banner.fourth .black-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 100%;
    z-index: 8;
    border-top: 2px solid var(--cit-green);
}

.second-banner.fourth .second-banner-large-heading h2 {
    color: var(--cit-green);
}

.second-banner.fourth .second-banner-normal-heading h3 {
    color: #ffffff;
}

.second-banner.fourth .second-banner-para p {
    color: #ffffff;
}

/* Fourth Banner Section End */

/* Fifth Banner Section Start */
section.fith-banner {
    width: 100%;
    padding: 30px 50px;
}

.banner-fifth {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-wrap {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.img-wrapper {
    height: 350px;
    width: 350px;
}

.img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.fifth-banner-text-wrapper {
    width: 50%;
    padding: 10px;
}

.fifth-banner-text-wrapper .large-heading h1 {
    color: var(--cit-green);
    font-size: 50px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 0;
}

.fifth-banner-paras {
    margin-top: 10px;
}

.fifth-banner-paras p {
    font-size: 16px;
}

/* Fifth Banner Section End */


/* Sixth Banner Section Start */
section.sixth-banner {
    width: 100%;
    background-color: var(--cit-green);
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-sixth {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.banner-sixth .box {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 10px;
}

.box .bold-heading {
    text-align: center;
}

.box .bold-heading span:first-child {
    color: #fff;
    font-size: 80px;
    font-weight: 900;
}

.box .bold-heading h4 {
    font-size: 35px;
    font-weight: 600;
    color: #fff;
}

/* Sixth Banner Section End */


/* Section Footer Start */
section.footer {
    width: 100%;
    background-color: var(--dark-gray);
    position: relative;
    z-index: 999;
}

section.footer .footer-design {
    height: 100%;
    position: absolute;
    z-index: 14;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url('assets/images/footer-img.png');
    background-size: cover;
    background-position: 0 0;
    background-attachment: fixed;
}

.main-footer {
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-around;
}

.link-wrapper {
    padding: 10px;
    z-index: 20;
}

.link-wrapper h3 {
    color: var(--cit-green);
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.link-wrapper ul {
    padding: 0;
}

.link-wrapper ul li a {
    margin: 7px 0px;
    color: #acacac;
    transition: 300ms ease-in-out;
}

.link-wrapper ul li a:hover {
    color: #ffffff;
}

.link-wrapper ul li a img {
    height: 30px;
    width: 30px;
    object-fit: contain;
    margin: 8px 0px;
}

.link-wrapper.last {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Section Footer End */

/* Section Footer Nav Start */
section.endFooter {
    width: 100%;
    border-bottom: 2px solid var(--cit-green);
    background-color: var(--med-gray);
    position: static;
    padding: 10px;
}

.footer-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-nav a {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    transition: 300ms ease-in-out;
}

.footer-nav a:hover {
    color: var(--cit-green);
}

.footer-nav a i {
    font-size: 30px;
}

.copyright-content ul {
    margin-bottom: 0;
    padding: 5px;
    text-align: right;
}

.copyright-content ul li p {
    margin-bottom: 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: right;
}

.copyright-content ul li {
    margin: 5px 0px;
}

.copyright-content ul li a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    transition: 300ms ease-in-out;
    display: flex;
    justify-content: flex-end;
}

.copyright-content ul li a:hover {
    color: var(--cit-green);
    text-decoration: underline;
}

/* Section Footer Nav End */
/* Index Page Style End */




/* About Page Styling Start */
/* Banner Styling Start */

#aboutPg {
    background-color: #fff;
}

.about-title {
    background-image: url('assets/images/about-pg-banner.png');
    background-size: cover;
    width: 100%;
    padding: 50px 0px 50px 50px;
}

.main-title-box {
    padding: 10px;
    margin-left: 30px;
}

.about-heading {
    padding: 10px 0px 0px;
}

.about-heading h1 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 800;
}

.about-des span {
    color: #ffffff;
    font-size: 17px;
}

/* Banner Styling End */

/* About Us Content Box Styling */
section.aboutUsContentBox {
    width: 100%;
    padding: 50px 0px;
}

.aboutContentBox {
    width: 90%;
    margin: 0px auto;
    padding: 10px;
}

.cit_elec_heading {
    padding: 0px 10px;
}

.cit_elec_heading h2 {
    font-size: 30px;
    font-weight: 700;
}

.cit_elec_para {
    padding: 0px 10px;
}

.cit_elec_para p {
    font-size: 15px;
}

.four_keys_heading {
    padding: 0px 10px;
}

.four_keys_heading h2 {
    font-size: 30px;
    font-weight: 700;
}

.four_keys_para {
    padding: 0px 10px;
}

.four_keys_para p {
    font-size: 15px;
}

.about_box-wrapper {
    width: 100%;
    margin: 50px 0px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.about_box {
    width: 40%;
    background-color: #F6F6F6;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
}

.about_box .img_wrapp {
    text-align: center;
    padding: 5px;
}

.about_box .about-box-content {
    text-align: center;
    padding: 10px;
}

.about-box-content .small_para {
    width: 90%;
    margin: auto;
}

.about-box-content .small_para p {
    font-size: 15px;
}

.company_values_heading {
    padding: 0px 10px;
}

.company_values_heading h2 {
    font-size: 25px;
    font-weight: 700;
}

.company_values_para {
    padding: 0px 10px;
}

.company_values_para p {
    font-size: 15px;
}

/* About Us Content Box Styling */

/* About Page Styling End */



/* Contact Page Styling Start */

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a,
a:active,
a:focus {
    color: #333;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}


.sec-title-style1 {
    position: relative;
    display: block;
    margin-top: -9px;
    padding-bottom: 50px;
}

.sec-title-style1.max-width {
    position: relative;
    display: block;
    max-width: 770px;
    margin: -9px auto 0;
    padding-bottom: 52px;
}

.sec-title-style1.pabottom50 {
    padding-bottom: 42px;
}

.sec-title-style1 .title {
    position: relative;
    width: 100% !important;
    display: block;
    text-align: center;
}

.sec-title-style1 .title span{
    color: #131313;
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    text-transform: uppercase;
}

.sec-title-style1 .title.clr-white {
    color: #ffffff;
}

.sec-title-style1 .decor {
    position: relative;
    display: block;
    width: 70px;
    height: 5px;
    margin: 19px 0 0;
}

.sec-title-style1 .decor:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #FFA500;
    border-radius: 50%;
    content: "";
}

.sec-title-style1 .decor:after {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #FFA500;
    border-radius: 50%;
    content: "";
}

.sec-title-style1 .decor span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 1px;
    background: #FFA500;
    margin: 2px 0;
}


.sec-title-style1 .text {
    position: relative;
    display: block;
    margin: 7px 0 0;
}

.sec-title-style1 .text p {
    position: relative;
    display: inline-block;
    padding: 0 15px;
    color: #131313;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.sec-title-style1 .text.clr-yellow p {
    color: #FFA500;
}

.sec-title-style1 .text .decor-left {
    position: relative;
    top: -2px;
    display: inline-block;
    width: 70px;
    height: 5px;
    background: transparent;
}

.sec-title-style1 .text .decor-left span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 1px;
    background: #FFA500;
    content: "";
    margin: 2px 0;
}

.sec-title-style1 .text .decor-left:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #FFA500;
    border-radius: 50%;
    content: "";
}

.sec-title-style1 .text .decor-left:after {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #FFA500;
    border-radius: 50%;
    content: "";
}

.sec-title-style1 .text .decor-right {
    position: relative;
    top: -2px;
    display: inline-block;
    width: 70px;
    height: 5px;
    background: transparent;
}

.sec-title-style1 .text .decor-right span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 1px;
    background: #FFA500;
    content: "";
    margin: 2px 0;
}

.sec-title-style1 .text .decor-right:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #FFA500;
    border-radius: 50%;
    content: "";
}

.sec-title-style1 .text .decor-right:after {
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #FFA500;
    border-radius: 50%;
    content: "";
}

.sec-title-style1 .bottom-text {
    position: relative;
    display: block;
    padding-top: 16px;
}

.sec-title-style1 .bottom-text p {
    color: #848484;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin: 0;
}

.sec-title-style1 .bottom-text.clr-gray p {
    color: #cdcdcd;
}

.contact-address-area {
    position: relative;
    display: block;
    background: #ffffff;
    padding: 60px 0 60px;
}

.contact-address-area .sec-title-style1.max-width {
    padding-bottom: 72px;
}

.contact-address-box {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.single-contact-address-box {
    position: relative;
    display: block;
    background: none;
    padding: 85px 30px 77px;
    background: #131313;
    transition: 300ms ease-in-out;
}

.single-contact-address-box .icon-holder {
    position: relative;
    display: block;
    padding-bottom: 24px;
}

.single-contact-address-box .icon-holder span:before {
    font-size: 75px;
}

.single-contact-address-box h3 {
    color: #ffffff;
    margin: 0px 0 9px;
}

.single-contact-address-box h2 {
    color: #FFA500;
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 19px;
}

.single-contact-address-box a {
    color: #ffffff;
}

.single-contact-address-box.main-branch {
    background: var(--cit-green);
    padding: 53px 30px 51px;
    margin-top: -20px;
    margin-bottom: -20px;
    transition: 300ms ease-in-out;
}

.single-contact-address-box.main-branch h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 38px;
    text-transform: uppercase;
    text-align: center;
}

.single-contact-address-box.main-branch .inner {
    position: relative;
    display: block;

}

.single-contact-address-box.main-branch .inner ul {
    position: relative;
    display: block;
}

.single-contact-address-box.main-branch .inner ul li {
    position: relative;
    display: block;
    padding-left: 110px;
    border-bottom: 1px solid #737373;
    padding-bottom: 23px;
    margin-bottom: 24px;
}

.single-contact-address-box.main-branch .inner ul li:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.single-contact-address-box.main-branch .inner ul li .title {
    position: absolute;
    top: 2px;
    left: 0;
    display: inline-block;
}

.single-contact-address-box.main-branch .inner ul li .title h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 2px;
}

.single-contact-address-box.main-branch .inner ul li .text {
    position: relative;
    display: block;
}

.single-contact-address-box.main-branch .inner ul li .text p {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin: 0;
}

.contact-info-area {
    position: relative;
    display: block;
    background: #ffffff;
}

.contact-form {
    position: relative;
    display: block;
    background: #F6F6F6;
    padding: 100px 20px 80px;
    -webkit-box-shadow: 0px 3px 8px 2px #ededed;
    box-shadow: 0px 3px 8px 2px #ededed;
    z-index: 3;
    margin-bottom: 50px;
}

.contact-form .sec-title-style1 {
    position: relative;
    display: block;
    padding-bottom: 51px;
    width: 100%;
}

.contact-form .text-box {
    position: relative;
    display: block;
    margin-top: 19px;
    width: 100%;
}

.contact-form .text p {
    color: #848484;
    line-height: 26px;
    margin: 0;
}

.contact-form .inner-box {
    position: relative;
    display: block;
}

.contact-form form {
    position: relative;
    display: block;
}

.contact-form form .inner-boxs {
    position: relative;
    display: block;
}

.contact-form form input[type="text"],
.contact-form form input[type="email"],
.contact-form form textarea {
    position: relative;
    display: block;
    background: #ffffff;
    border: 1px solid #eeeeee;
    width: 100%;
    height: 55px;
    font-size: 16px;
    padding-left: 19px;
    padding-right: 15px;
    border-radius: 0px;
    margin-bottom: 20px;
    transition: all 500ms ease;
}

.contact-form form textarea {
    height: 130px;
    padding-left: 19px;
    padding-right: 15px;
    padding-top: 14px;
    padding-bottom: 15px;
}

.contact-form form input[type="text"]:focus {
    color: #222222;
    border-color: #d4d4d4;
}

.contact-form form input[type="email"]:focus {
    color: #222222;
    border-color: #d4d4d4;
}

.row.input-wrap {
    padding: 20px;
}

.contact-form form textarea:focus {
    color: #222222;
    border-color: #d4d4d4;
}

.contact-form form input[type="text"]::-webkit-input-placeholder {
    color: #848484;
}

.contact-form form input[type="text"]:-moz-placeholder {
    color: #848484;
}

.contact-form form input[type="text"]::-moz-placeholder {
    color: #848484;
}

.contact-form form input[type="text"]:-ms-input-placeholder {
    color: #848484;
}

.contact-form form input[type="email"]::-webkit-input-placeholder {
    color: #848484;
}

.contact-form form input[type="email"]:-moz-placeholder {
    color: #848484;
}

.contact-form form input[type="email"]::-moz-placeholder {
    color: #848484;
}

.contact-form form input[type="email"]:-ms-input-placeholder {
    color: #848484;
}
#phoneNo{
    padding: 5px;
}

.contact-form form button {
    position: relative;
    display: block;
    width: 100%;
    background: none;
    border: 1px solid var(--cit-green);
    color: #131313;
    font-size: 16px;
    line-height: 55px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    transition: all 200ms linear;
    transition-delay: 0.1s;
    cursor: pointer;
}

.contact-form form button:hover {
    color: #ffffff;
    background: var(--cit-green);
}

section.iframe{
    width: 100%;
    margin-bottom: 50px;
}
.main-iframe iframe{
    width: 100%;
    height: 400px;
}
/* Contact Page Styling End */


/* Blog Page Styling Start */
.blog_section {
    background-color: #fff;
    padding: 40px 10px;
}

.blog_section .card_img {
    width: 100%;
    border-radius: 15px !important;
    height: 250px !important;
    overflow: hidden;
}

.blog_section .card_img img{
    height: 100%;
    width: 100%;
    object-fit: 100% 100%;
}

.blog_section .card_img img:hover {
    transform: scale(1.1);
    transition: .3s ease-in-out;

}

.blog_section .card {
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.blog_section .card p {
    color: #343434;
    font-size: 17px;
}

.blog_section .card:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: .3s ease all;
}

.blog_section .card a {
    color: var(--cit-green);
    font-size: 18px;
    font-weight: 600;
}
/* Blog Page Styling End */


/* B2B Page Styling Start*/
#b2bPg {
    background-color: #fff;
}

.b2b-title {
    background-image: url('assets/images/b2b-banner-img.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    padding: 20px 0px;
}

.main-b2b-title-box {
    width: 80%;
    padding: 10px;
    margin: auto;
}

.b2b-heading {
    padding: 10px 0px 0px;
}

.b2b-heading h1 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 800;
}
.b2b-des{
    width: 100%;
}
.b2b-des span {
    color: #ffffff;
    font-size: 16px;
}
/* Banner Styling End */

/* B2b Content Section */
section.b2b-content{
    width: 100%;
}
.main-b2b-content{
    width: 75%;
    margin: auto;
    padding: 50px 20px;
}
.b2b-heading-wrapper{
    padding: 1px 0px;
    margin-bottom: 0px;
}
.b2b-heading h2{
    text-transform: uppercase;
    font-weight: 600;
}
.b2b-para-des{
    width: 90%;
}
.b2b-para-des p{
    font-size: 16px;
    margin: 0;
}

.b2b_box-wrapper {
    width: 100%;
    margin: 50px 0px 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.b2b_box {
    width: 48%;
    background-color: #F6F6F6;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
}

.b2b_box .img_wrapp {
    text-align: center;
    padding: 5px;
}

.b2b_box .b2b-box-content {
    text-align: center;
    padding: 10px;
}
.b2b-box-content .small_heading h5{
    font-size: 25px;
}

.accounts-box-wrapper{
    width: 100%;
    padding: 20px 20px 10px;
}
.center-heading .heading{
    text-align: center;
}
.center-heading .heading h4{
    font-weight: 600;
}
.center-heading .center-content{
    width: 90%;
    margin: auto;
    text-align: center;
}
.accounts_wrapper{
    background-color: #F6F6F6;
    padding: 20px;
    border-radius: 5px;
}
.account_box{
    width: 100%;
    margin: 30px 0px;
    display: flex;
    align-items: center;
}
.acc_img-wrap{
    height: 200px;
    width: 25%;
}
.acc_img-wrap img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}
.acc_details{
    width: 75%;
    padding: 5px;
}
.acc_name{
    padding: 2px;
}
.acc_name h5{
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 500;
}
.acc_des{
    padding: 2px;
}
.acc_des p{
    margin-bottom: 0;
    font-size: 14px;
}
/* B2b Content Section */


/* B2B Send Message Section Start*/
section.send-message{
    width: 100%;
    background-color: #F6F6F6;
    padding: 50px 0px 100px;
}
.main-msg-box{
    width: 80%;  
    margin: auto;
    padding: 50px 10px;
}
.message-heading{
    text-align: center;
}

.UpperLine_inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.input-box{
    width: 48%;
    padding: 5px;
}
.input-box h5{
    color: #333333;
}
.input-box h5 span{
    color: var(--cit-green);
}
.input-box input{
    height: 48px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #cacaca;
    outline: none;
    transition: 300ms ease-in-out;
    padding: 10px;
    font-size: 18px;
}
.input-box input:hover{
    border: 2px solid var(--cit-green);
}
.input-box input:focus{
    border: 2px solid var(--cit-green);
}
.UpperLine_inputs :last-child.input-box{
    width: 97%;
}
.UpperLine_inputs :last-child.input-box textarea{
    min-height: 100px;
    max-height: 150px;
    min-width: 100%;
    border: 2px solid #cacaca;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    outline: none;
}
.UpperLine_inputs :last-child.input-box textarea:hover{
    border: 2px solid var(--cit-green);
}
.UpperLine_inputs :last-child.input-box textarea:focus{
    border: 2px solid var(--cit-green);
}
form .msg_btn{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
.msg_btn button{
    padding: 10px 0px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--cit-green);
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 16px;
}
/* B2B Send Message Section End*/

/* B2B Page Styling End*/


/* Whole Sale Page Styling */
#wholesalePg {
    background-color: #fff;
}

/* WholeSale Banner Styling */
.wholesale-title {
    background-image: url('assets/images/wholesale-banner-img.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
}

.green-overlay{
    z-index: 1;
    aspect-ratio: auto;
    background-color: var(--cit-green);
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
}
.wholesale-title .container{
    z-index: 99;
    position: relative;
}
.wholesale-title-box {
    width: 80%;
    padding: 10px;
    margin: auto;
}

.wholesale-heading {
    padding: 10px 0px;
}

.wholesale-heading h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 0;
}
.wholesale-des{
    padding: 10px 0px;
}
.wholesale-des span {
    color: #ffffff;
    font-size: 23px;
}

/* WholeSale Banner Styling */

section.wholesale-content{
    width: 100%;
    padding: 1px;
}
.main-wholesale-content{
    width: 80%;
    margin: 50px auto;
}
.better_heading-wrapper{
    width: 100%;
}
.better_heading{
    text-align: center;
    padding: 5px;
}
.better_heading h1{
    margin-bottom: 0;
    color: var(--cit-green);
    font-weight: 700;
}
.better_para{
    width: 75%;
    margin: auto;
    text-align: center;
}

.action-house-heading{
    text-align: center;
}

.action-house-heading h2{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 0;
}

/* Wholesale box Start */

.wholesale_box-wrapper {
    width: 85%;
    margin: 30px auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
}

.wholesale_box {
    width: 40%;
    background-color: #F6F6F6;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
}

.wholesale_box .img_wrapp {
    height: 150px;
    width: 100%;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wholesale_box .wholesale-box-content {
    padding: 10px;
}

.wholesale-box-content .small_heading{
    text-align: center;
}

.wholesale-box-content .small_heading h5{
    font-size: 25px;
}

.wholesale-box-content .small_para {
    width: 90%;
    margin: auto;
}

.wholesale-box-content .small_para ul li{
    list-style-type: disc;
    font-size: 16px;
}

/* Wholesale box End */

/* Wholesale Main Heading Start */

.main-heading{
    width: max-content;
    text-align: center;
    margin: auto;
    position: relative;
}
.main-heading h1{
    font-size: 45px;
    font-weight: 400;
    color: var(--dark-gray);
}
.main-heading h1 span{
    color: var(--cit-green);
    font-weight: bolder;
}
.main-heading::before{
    position: absolute;
    content: '';
    top: 50%;
    bottom: 50%;
    height: 2px;
    width: 30%;
    background-color: #7e7e7e;
    transform: translateY(-50%);
    left: -35%;
    border-radius: 20px;
}
.main-heading::after{
    position: absolute;
    content: '';
    top: 50%;
    bottom: 50%;
    height: 2px;
    width: 30%;
    background-color: #7e7e7e;
    transform: translateY(-50%);
    right: -35%;
    border-radius: 20px;
}

/* Wholesale Main Heading Start */

/* Advantages Heading Start */

.enjoy-advantage-heading{
    text-align: center;
    margin-top: 40px;
}

.enjoy-advantage-heading h2{
    font-size: 33px;
    font-weight: 500;
    margin-bottom: 0;
    color: var(--dark-gray);
}

/* Advantages Heading Start */

/* Whole Sale Box Wrapper Start */
.wholeSaleBox_wrap{
    height: 270px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 70px 0px;
    gap: 25px;
    padding: 10px;
}
.wholeSaleimg-wrap{
    height: 100%;
    width: 40%;
    background-image: url('assets/images/global-audience-img.jpg');
    background-size: 100% 100%;
    border-radius: 5px;
    background-repeat: no-repeat;
}
.wholeSaleimg-wrap.Quality-Presentation{
    background-image: url('assets/images/quality-presentation-img.jpg');
}
.wholeSaleimg-wrap.sell-speed{
    background-image: url('assets/images/sell-speed-img.png');
    background-size: cover;
}
.wholeSaleimg-wrap.tracking-report{
    background-image: url('assets/images/tracking-report-img.jpg');
}
.wholeSaleText-wrap{
    /* width: 62%; */
    height: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.large-global-heading h1{
    margin-bottom: 0;
    font-weight: 700;
    color: var(--dark-gray);
}
.global-bullet-points ul li {
    list-style-type: disc;
    margin: 5px 0px 5px 20px;
}
.global-box-btn{
    margin-top: 10px;
}
.global-box-btn button{
    width: 55%;
    padding: 12px 0px;
    border-radius: 6px;
    border: none;
    outline: none;
    color: #000;
    transition: 350ms ease-in-out;
}
.global-box-btn button:hover{
    background-color: var(--cit-green);
    color: #ffffff;
}

/* Whole Sale Box Wrapper End */


/* Working Step Section Start */
section.working-section{
    width: 100%;
    background-color: var(--light-gray);
    padding: 50px 0px;
    margin-bottom: 50px;
}

.working-title-box {
    padding: 10px;
    margin-left: 30px;
}

.working-heading {
    padding: 10px 0px;
    text-align: center;
}

.working-heading h2 {
    color: var(--dark-gray);
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}

.steps_box_wrapp{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.steps_box{
    height: 300px;
    width: 20%;
}
.steps_box .box-img{
    width: 100%;
    height: 160px;
    background-color: rgba(123, 171, 77, .2);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-img img{
    object-fit: contain;
}
.box-text{
    text-align: center;
    padding: 10px 0px;
}
.box-text h5{
    font-size: 30px;
    color: var(--cit-green);
    font-weight: 700;
}
.steps_btn{
    text-align: center;
    padding: 5px 0px;
}
.steps_btn button{
    padding: 10px 0px;
    width: 60%;
    border: 2px solid var(--cit-green);
    outline: none;
    background-color: transparent;
    color: var(--cit-green);
    font-size: 17px;
    transition: 350ms ease-in-out;
    border-radius: 5px;
}
.steps_btn button:hover{
    background-color: var(--cit-green);
    color: #ffffff;
}
/* Working Step Section End */

/* Consign Section Start */
section.consign{
    width: 100%;
    background-image: url('assets/images/wholesale-consign-banner-img.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: 50%;
    position: relative;
    padding: 70px 0px;
}
.black-overlaying{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 99;
}
section.consign .container{
    position: relative;
    z-index: 100;
}
.main-consign-box{
    width: 80%;
    margin: auto !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}
.consign-heading h1{
    color: #ffffff;
    font-weight: 700;
}
.consign-points ul li{
    list-style-type: disc;
    color: #fff;
    margin-left: 40px;
    font-size: 24px
}
.consign-small-para{
    margin-top: 10px;
}
.consign-small-para p{
    color: #ffffff;
    font-size: 17px;
}
/* Consign Section End */


/* Newsletter Section Start */
section.wholeSale_newsletter{
    width: 100%;
    background-color: #121929;
    padding: 50px 10px;
    border: 1px solid #ffff;
}
.main-wholesale_newsletter{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0px;
}
.keep_update_heading{
    padding: 5px 0px;
    text-align: center;
}
.keep_update_heading h2{
    margin-bottom: 0;
    font-size: 35px;
    color: #ffffff;
    font-weight: 600;
}
.keep_update_para{
    width: 60%;
    margin-top: 10px;
    text-align: center;
    margin: 10px auto;
}
.keep_update_para p{
    font-size: 19px;
    color: #A2AAB6;
}
.notify_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.notify_wrapper input{
    width: 30%;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ffffff;
    outline: none;
    color: #ffffff;
    background-color: #4c5364b4;
    backdrop-filter: blur(10px);
}
.notify_wrapper button{
    padding: 6px 20px;
    border-radius: 5px ;
    background-color: #fff;
    color: #121929;
    font-size: 19px;
    border: none;
    outline: none;
}
.notify_wrapper input::placeholder{
    color: #ffffff;
}
/* Newsletter Section End */

/* Whole Sale Page Styling */


/* Our Mission Page Styling Start */

/* Whole Sale Page Styling */
#wholesalePg {
    background-color: #fff;
}

/* WholeSale Banner Styling */
.wholesale-title {
    background-image: url('assets/images/wholesale-banner-img.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
}

.green-overlay{
    z-index: 1;
    aspect-ratio: auto;
    background-color: var(--cit-green);
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
}
.wholesale-title .container{
    z-index: 99;
    position: relative;
}
.wholesale-title-box {
    width: 80%;
    padding: 10px;
    margin: auto;
}

.wholesale-heading {
    padding: 10px 0px;
}

.wholesale-heading h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 0;
}
.wholesale-des{
    padding: 10px 0px;
}
.wholesale-des span {
    color: #ffffff;
    font-size: 23px;
}

/* WholeSale Banner Styling */

.cit_elec_heading.values{
    text-align: center;
}
.cit_elec_para.values{
    text-align: center;
}

/* Our Mission Page Styling End */


.green_img img{
    width: 200px;
    height: 250px;
}


/* FAQ'S Page Styling Start */

.faqs-title {
    background-image: url('assets/images/faqs-banner-img.jpg');
    background-size: 100% auto;
    width: 100%;
    padding: 50px 0px 50px 50px;
    background-position: center;
}

.faqs-title-box {
    padding: 10px;
    margin-left: 30px;
}

.faqs-heading {
    padding: 10px 0px 0px;
}

.faqs-heading h1 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 800;
}
.faqs-des{
    width: 50%;
}
.faqs-des span {
    color: #ffffff;
    font-size: 17px;
}

section.faqs-content1-section{
    width: 100%;
    padding: 50px 0px;
}
section.faqs-content2-section{
    background-color: var(--light-gray);
}
.faqs-content1{
    width: 75%;
    margin: auto;
    padding: 10px;
}
.order_heading h2{
    font-size: 35px;
    font-weight: 600;
}

.accordion-wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.accordion{
    border: none !important;
    outline: none !important;
    margin: 20px 0px !important;
}
.accordion-item{
    width: 100% !important;
}
.accordion-heade{
    border: none !important;
    outline: none !important;
}
.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed{
    border: 1px solid transparent !important;
    outline: none !important;
}
.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed:hover{
    border: 1px solid var(--cit-green) !important;
}
.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed:focus{
    border: 1px solid var(--cit-green) !important;
    box-shadow: none !important;
}
.acc-btn{
    background: none !important;
    padding: 25px 10px !important;
    outline: none !important;
    transition: 450ms ease-in-out;
}
.acc-btn span{
    font-weight: bolder;
    font-size: 17px;
    color: #000;
}
.acc-btn:hover{
    transition: 450ms ease-in-out;
    border: 1px solid  var(--cit-green);
    outline: none !important;
}
.acc-btn:focus{
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid var(--cit-green) !important;
}
.acc-body p{
    color: #7B7B7B;
}

/* Shipping & Delivery Page Start */
.shipping_delivery-title{
    background-image: url('assets/images/faqs-banner-img.jpg');
    background-size: cover;
    width: 100%;
    padding: 50px 0px 50px 50px;
    background-position: center;
    background-repeat: no-repeat;
}

.shipping_delivery-title-box {
    padding: 10px;
    margin-left: 30px;
}

.shipping_delivery-heading {
    padding: 10px 0px 0px;
}

.shipping_delivery-heading h1 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 800;
}
.shipping_delivery-des{
    width: 50%;
}
.shipping_delivery-des span {
    color: #ffffff;
    font-size: 17px;
}
/* Shipping & Delivery Page End */

/* Return and Refund Page Styling Start */
.return_refunds-title {
    background-image: url('assets/images/return-and-return-banner-img.jpg');
    background-size: 100% auto;
    background-position: 0 15%;
    width: 100%;
    padding: 50px 0px 50px 50px;
    position: relative;
    z-index: 10;
}

.return-banner-overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

section.return_refunds-title .container{
    z-index: 150;
    position: relative;
}

.return_refunds-title-box {
    width: 80%;
    margin: auto;
    padding: 10px;
}

.return_refunds-heading {
    padding: 10px 0px 0px;
}

.return_refunds-heading h1 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 800;
}
.return_refunds-des{
    width: 50%;
}
.return_refunds-des span {
    color: #ffffff;
    font-size: 17px;
}

.working-heading p{
    width: 80%;
    margin: 20px auto;
}



section.working-section.shipping{
    margin-bottom: 0;
}

section.return_refund_ContentBox {
    width: 100%;
    padding: 50px 0px;
}

.return_refund_ContentBox {
    width: 80%;
    margin: 0px auto;
    padding: 10px;
}

.how_it_works_heading {
    padding: 0px 10px;
}

.how_it_works_heading h2 {
    font-size: 30px;
    font-weight: 700;
}

.how_it_works_para {
    padding: 0px 10px;
}

.how_it_works_para p {
    font-size: 15px;
}


section.purchasing_section{
    width: 100%;
    background-color: var(--light-gray);
    padding: 50px 0px;
}
.main_purchasing-content{
    width: 80%;
    margin: auto;
    padding: 10px;
}
.purchase_heading h2{
    font-weight: 700;
}

.purchasing_guideline_wrapper{
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px;
}
.create_acc_heading h2{
    font-size: 25px;
    font-weight: 600;
    color: #000;
}
.create_acc_para{
    width: 90%;
}
.create_acc_para p{
    color: #000;
}
.btn-wrapper button{
    width: 28%;
    background-color: #dfdfdf;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 400ms ease-in-out;
}
.btn-wrapper button:hover{
    color: #fff;
    background-color: var(--cit-green);
}

.Search_inventory_heading{
    margin-top: 50px;
}

.Search_inventory_heading h2{
    font-size: 25px;
    font-weight: 600;
    color: #000;
}
.Search_inventory_para{
    width: 90%;
}
.Search_inventory_para p{
    color: #000;
}
.Make_an_offer_heading{
    margin-top: 50px;
}
.Make_an_offer_heading h2{
    font-size: 25px;
    font-weight: 600;
    color: #000;
}
.Make_an_offer_para{
    width: 90%;
}
.Make_an_offer_para p{
    color: #000;
}

.Finalize_submit_order_heading{
    margin-top: 50px;
}
.Finalize_submit_order_heading h2{
    font-size: 25px;
    font-weight: 600;
    color: #000;
}
.Finalize_submit_order_para{
    width: 90%;
}
.Finalize_submit_order_para p{
    color: #000;
}

.Payment_heading{
    margin-top: 50px;
}
.Payment_heading h2{
    font-size: 25px;
    font-weight: 600;
    color: #000;
}
.Payment_para{
    width: 90%;
}
.Payment_para p{
    color: #000;
}

.Track_your_package_heading{
    margin-top: 50px;
}

.Track_your_package_heading h2{
    font-size: 25px;
    font-weight: 600;
    color: #000;
}
.Track_your_package_para{
    width: 90%;
}
.Track_your_package_para p{
    color: #000;
}
/* Return and Refund Page Styling End */


/* Terms & Condition Page Styling Start*/

/* Terms & Conditions Page Start */
.shipping_delivery-title{
    background-image: url('assets/images/faqs-banner-img.jpg');
    background-size: cover;
    width: 100%;
    padding: 50px 0px 50px 50px;
    background-position: center;
    background-repeat: no-repeat;
}

.term_delivery_title-box {
    padding: 10px;
    margin-left: 30px;
}

.shipping_delivery-heading {
    padding: 10px 0px 0px;
}

.shipping_delivery-heading h1 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 800;
}
.shipping_delivery-des{
    width: 50%;
}
.shipping_delivery-des span {
    color: #ffffff;
    font-size: 17px;
}

.terms_condition-section{
    padding: 50px 0;
}
.terms_condition-heading{
    background: #e7f2f8;
    padding: 20px;
    border-radius: 8px;
}
.terms_condition-heading h4{
    color: var(--cit-green);
}
.terms_condition-network_heading{
    padding: 10px 20px;
    margin: 8px 0;
}
.terms_condition-network_heading h4{
    position: relative;
    color: #000;
}
.terms_condition-network_heading h4::before{
    position: absolute;
    content: '';
    height: 1px ;
    width: 100%;
    background-color: var(--cit-green);
    bottom: -10px;
}
.condition_box{
    padding: 0px 20px;
    margin-bottom: 50px;
}
.condition_box h5{
    color: #000;
}
.condition_box h5{
    margin-top: 20px;
}
.condition_box .second_h5{
    margin-top: 30px;
}
.condition_box p{
    margin: 8px 0;
}
.condition_box p a{
    color: #0069b4;
}

.accordian-wrapper.terms_condition{
    padding: 20px;
}
.accordian-wrapper.terms_condition .accordion-item{
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.accordian-wrapper.terms_condition .accordion-item:last-of-type>.accordion-header .accordion-button.collapsed{
    border:none !important;
    outline: none !important;
}
.accordian-wrapper.terms_condition .accordion-item:last-of-type>.accordion-header .accordion-button.collapsed:hover{
    border: none !important;
}
.accordian-wrapper.terms_condition .accordion-item:last-of-type>.accordion-header .accordion-button.collapsed:focus{
    border: none !important;
    box-shadow: none !important;
}
.accordian-wrapper.terms_condition .acc-btn{
    border: none !important;
    display: flex;
    justify-content: space-between !important;
}

.accordion-item p a{
    color: #0069b4;   
}

.accordion-item h5{
    font-size: 16px;
}
.accordion-item h6{
    font-size: 13px;
}

/* Terms & Condition Page Styling End*/


/* Payment & Options Page Styling Start */

/* Payment & Options Page Styling End */





